# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

number = 5
print(number)

6
5

##### Assinging float

In [3]:
number_Float = 2.3
print(number_Float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [5]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [6]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [7]:
result_mul = num1 * num2
print(result_mul)

result_mul*=2
print(result_mul)

10.8
21.6

##### Division

In [8]:
result_div = num2/num1
print(result_div)

result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [9]:
result_floor = num2//num1
print(result_floor)

2.0

##### Modulo

In [10]:
result_mod = num2 % num1

print(result_mod)

1.4000000000000004

##### Exponential

In [11]:
square = 5 ** 2

print(square)

25

### String Input-Output

##### String Assignment

In [12]:
name = "Juny"

print(name)

Juny

##### print() <br>
<p>Don't forget about end=' '</p>

In [13]:
print("This is my first name: ", name)
print(name, end=" Crespo")

This is my first name:  Juny
Juny Crespo

##### String Concatenation

In [16]:
first_name = "John"
last_name = "Smith"

full_name = first_name + "  " + last_name
print(full_name)

John  Smith

##### Type Conversion

In [18]:
number = "32"


change_type = float(number)
change_type += 5
print(change_type)

37.0

##### input()

In [41]:
 # this is a single comment
age = input("What is your age: ")
# this is another comment
value_of_age = int(age) + 2
print(value_of_age)

What is your age: 20
22

##### format()

In [36]:
# ask user for age
age = input("What is your age: ")
# print out a formatted string with their age
result_string = "You are {} and you are getting old!".format(age)
# print('You are {} years old, and I am {} years old'.format(age, 34))
print(result_string)

What is your age: 25
You are 25 and you are getting old!

##### Old Way (python 2)

In [21]:
# using the % sign to format strings in python 2
# %d = digit, %s = string, %i = int

result_string2 = "You are %s and you look great for your age!" % age
print(result_string2)

You are 25 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [22]:
color = input("What is the Color of your car? ")
year = input("What is the Year of your car? ")
make = input("What is the Make of your car? ")
model = input("What is the Model of your car? ")

results_of_car = "The Car's color {}, the car's year is {}, the car's make is {}, and the car's model is {}".format(color,year,make,model)
print(results_of_car)

What is the Color of your car? yellow
What is the Year of your car? 2005
What is the Make of your car? nissan
What is the Model of your car? 350z
The Car's color yellow, the car's year is 2005, the car's make is nissan, and the car's model is 350z

### If Statements

In [23]:
num_1 = 5
num_2 = 10

if num_1*2 == num_2:
    print("Equal Values")
else:
    print("Not Equal")
    
if num_2 >= num_1:
    print("This value is greater")

Equal Values
This value is greater

##### 'is' keyword

In [24]:
# use is when checking for same object, not same value

num3 = 55

if num3 is 55:
    print("This is a number")

This is a number

##### 'in' keyword

In [2]:
# check if char in name

char_name = "Max Payne"

if " " in char_name:
    print("The character who lost everything")

The character who lost everything

##### 'not in' keyword'

In [3]:
number = "34"

if "a" not in number:
    print("a is not here...")

a is not here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [4]:
user = input("your name: ")
if "p" in user:
        print("p is here")
else:
        print("p is not here")

your name: Juny
p is not here

## Using 'and'/'or' with If Statements

In [5]:
# when using 'and' keyword, checks to see if true and true
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3


if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print('True and true')



# when using 'or' keyword, checks to see if one side is true
if num_11 > num_12 or num_13 == num_14:
    print("True / False ")

# if (num1 == num2 and num1 == num3) or num2 > num1:
#     print('False and true')

if (num_11 > num_14 and num_12 == num_14) or num_13 < num_14:
    print("False / True")

True and true
True / False
False / True

### Elif Statements

In [6]:
first_name = "Max"

if first_name == "Smith":
    print("The name is Smith")
elif first_name != "Max":
    print("The name is NOT Max")
else:
    print("The name IS max")

The name IS max

### Else Statements

In [ ]:
# see above

### For Loops

In [7]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)

name = "Joel Carter"

for letter in name:
    print(letter)

J
o
e
l

C
a
r
t
e
r

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [8]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [9]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [ ]:
##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [10]:
for i in name:
    pass # TODO: COME BACK AND FINISH LATER

# Double For Loops

In [1]:
for i in range(5):
    for j in range(5):
        print("i =",i, "j =",j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

# While Loops

In [11]:
# based on a conditional statement
num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [12]:
game_over = False

while True:
    print("Infinte Loop")
    if game_over == False:
        break

Infinte Loop

##### While & For Loops Used Together

In [13]:
num = 0 

while num < 5:
    print("While Loop Iteration " + str(num))
    
    for i in range(2):
        print("For Loop Iteration " + str(i))
    
    num += 1

While Loop Iteration 0
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration 1
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration 2
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration 3
For Loop Iteration 0
For Loop Iteration 1
While Loop Iteration 4
For Loop Iteration 0
For Loop Iteration 1

### Built-In Functions

##### range()

In [34]:
# start, stop, step
for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

##### len()

In [18]:
# check length of variable

name = "Max"

length = len(name)
print(length)

# print(length)

for i in range(len(name)): #Give me full length of the name variable
    print(name[i])

3
M
a
x

##### help()

In [19]:
# to view more information on a python function
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [20]:
# isinstance(var, type)

if isinstance(4.5, float):
    print("THis is a float")
    
if isinstance(name, str):
    print("Hi my name is", name)

THis is a float
Hi my name is Max

##### abs()

In [21]:
# | 5 |

abs(-5)

5

### Try and Except

In [23]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop

try:
    number_test = 0
    input_Num = int(input("Guess a number: "))
    if input_Num != number_test:
        input_Num = input_Num + number_test
        print("Your number is " + str(input_Num))
except:
    print("That did not work -- ERROR: change to your Input to a number")

Guess a number: 7
Your number is 7

### Lists

##### Declaring Lists

In [24]:
l_1 = [] # Empty List Declared

names = ["Max", "Cindy", "Kathy","Bob"]

print(names)

['Max', 'Cindy', 'Kathy', 'Bob']

##### Indexing a List

In [25]:
# [-1], [start: stop: step]

# print(names[0])

print(names[0])

# print(names[1:]) # starts at 1 goes to end

print(names[1:])

# print(names[:2]) # starts at beginning prints index 0 and 1, not including 2

print(names[:2])

# print(names[1::2]) # starts at index 1 goes up by 2 each iteration (basically prints out all odd indexes)
print(names[1::3])

# print(names[::-1]) # reverse printed order

print(names[:-1])

Max
['Cindy', 'Kathy', 'Bob']
['Max', 'Cindy']
['Cindy']
['Max', 'Cindy', 'Kathy']

##### .append()

In [26]:
names.append("Joel")
print(names)

['Max', 'Cindy', 'Kathy', 'Bob', 'Joel']

##### .insert()

In [27]:
# list.insert(index, value)
names.insert(3,"Jimmy")

print(names)

['Max', 'Cindy', 'Kathy', 'Jimmy', 'Bob', 'Joel']

##### .pop()

In [28]:
# default last, param = index
# pop returns the element that was removed in case you want to assign it into a variable

result = names.pop()
print(result)

result = names.pop(3)
print(result)

Joel
Jimmy


##### .remove()

In [29]:
# value to be removed, not index

names.remove("Jimmy")
print(names)

ValueError: list.remove(x): x not in list

##### del()

In [30]:
# index to be removed, not value
# be careful with del, can cause indexing errors
del(names[0])

print(names)

['Cindy', 'Kathy', 'Bob']

##### Concatenating Two Lists

In [31]:
# will append two lists together, not add up elements in each list

l_1 = [3,4,5]
l_2 = [0,1,2]

large_list = l_1 + l_2
print(large_list)

[3, 4, 5, 0, 1, 2]

##### Lists Within Lists

In [32]:
# lists are able to hold any type of elements, including lists themselves
# they can also go as deep as you want, having many lists inside of each other

names = ["Max", "Sam", "Josh",["Sally", "Sue", "Tameka"]]



print(names)
print(names[3][0])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sally

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, one is by index, the other is using the 'in' keyword
first_names = ["Jim", "Sally","Fred","Lucas"]


#Loop with a for Loop (by index)
for i in range(len(first_names)):
    print(first_names[i])


# loop based on index
last_name = "Carter"

for char in last_name:
    print(char)

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [71]:
cubes = []
for number in range(1, 11):
    cube = number**3
    cubes.append(cube)

for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first 100 Prime Numbers</p>

In [77]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for Number in range (1, 541,):
    count = 0
    for i in range(2, (Number//2 + 1)):
        if(Number % i == 0):
            count = count + 1
            break

    if (count == 0 and Number != 1):
        print(" %d" %Number)

 2
 3
 5
 7
 11
 13
 17
 19
 23
 29
 31
 37
 41
 43
 47
 53
 59
 61
 67
 71
 73
 79
 83
 89
 97
 101
 103
 107
 109
 113
 127
 131
 137
 139
 149
 151
 157
 163
 167
 173
 179
 181
 191
 193
 197
 199
 211
 223
 227
 229
 233
 239
 241
 251
 257
 263
 269
 271
 277
 281
 283
 293
 307
 311
 313
 317
 331
 337
 347
 349
 353
 359
 367
 373
 379
 383
 389
 397
 401
 409
 419
 421
 431
 433
 439
 443
 449
 457
 461
 463
 467
 479
 487
 491
 499
 503
 509
 521
 523

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [80]:
user= int(input("Your Age: "))
if user <=18:
    print("Kids")
elif user >=18 and user < 65:
    print("Adults")
else:
    print("Seniors")

Your Age: 6
Kids